body{
    text-align: center;
    background-color: black;
}
#box1{
    background-color: bisque;
    height: 100px;
    width: 100px;
    border: 2px,solid,black;
    top: 100px;
    left: 700px;

    animation-name: coloranimate;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
   
}
@keyframes coloranimate{
    from {background-color: bisque;
          left: 0px;
    }
    to {background-color: aquamarine;
         right: 700px;
        }
}

