#loader{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    border: 20px,solid,grey;
    border-top: 20px solid black;
    border-radius: 50%;
    animation: loaderanimate 2s ease-in-out 0s infinite normal;
}
@keyframes loaderanimate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}