p{
    color:blueviolet;
}
button{
    color:chocolate;
    background-color: aqua;
}
body{
    background-color:black;
}
#r{
    color:blue;
    text-align: center;
    font-weight: lighter;
    font-family: arial;
    
}

#box{
    background-color:blue;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium';
    width: 100px;
    height:100px ;
}

p{
    text-align:center;
    text-decoration: red underline;
}
#allign{
    
    text-decoration:line-through;
}

#uno{
    color:blue;
    
    text-decoration:green underline;
}
p{
    text-align:center;
}
#headingone{
  text-align: center;
  color: red;
}